<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795860829418-ol0292qlvv6nssjmvajei3feplft7ref.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795860829418-ol0292qlvv6nssjmvajei3feplft7ref</string>
	<key>API_KEY</key>
	<string>AIzaSyAZqTtG-F_FqnJ-_HQbTyqkzJf2KMLXlhU</string>
	<key>GCM_SENDER_ID</key>
	<string>795860829418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.bhattadm.Chat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-69a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-69a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795860829418:ios:79d23f0f8c8f549d7e0393</string>
</dict>
</plist>